doctype 5
html
		head
			title= title
			link(rel='stylesheet', href='/stylesheets/style.css')	
			link(rel='stylesheet', href='/stylesheets/normalize.css')
		body	
		#header	
			if title == storeName
				#logo
					a(href="/")
						img#logol(src="/images/supercoollarge.png")
				#menudiv
					nav
						ul#menu
								li
									a(href="./Categories/PartySolutions") Party Solutions								
								li
									a(href="./Categories/GlowProducts") Glow Products
								li
									a(href="./Categories/PartySupplies") Bar Supplies
								li
									a(href="./Categories/LED") LED/Flash
								li
									a(href="./Categories/CrazyHour") Crazy Hour
			if title != storeName
				#logo
					a(href="../")	
						img#logol(src="/images/supercoollarge.png")
				#menudiv
					nav
						ul#menu
								li
									a(href="./PartySolutions") Party Solutions
								li
									a(href="./GlowProducts") Glow Products
								li
									a(href="./PartySupplies") Bar Supplies
								li
									a(href="./LED") LED/Flash
								li
									a(href="./CrazyHour") Crazy Hour
		#seach
			#searchdiv
				#insidesearch
					span#number To Order Call Us at: 754 888-4541
					#searchbox
						label#searchlabel(for="search") Search
						input#searchin(type="text", name="search")
						button#searchgo(type="submit") GO
			
	block content
				