#menudiv
		nav
			ul#menu
				if title == storeName
						li
							a(href="/") Home
						li
							a(href="./Categories/GlowProducts") Glow Products
						li
							a(href="./Categories/PartySupplies") Party Supplies
						li
							a(href="./Categories/LED") LED/Flash
						li
							a(href="./Categories/CrazyHour") Crazy Hour
				if title != storeName
						li
							a(href="../") Home			
						li
							a(href="./GlowProducts") Glow Products
						li
							a(href="./PartySupplies") Party Supplies
						li
							a(href="./LED") LED/Flash
						li
							a(href="./CrazyHour") Crazy Hour