@import url(http://fonts.googleapis.com/css?family=Exo:500,800italic);
@import url(http://fonts.googleapis.com/css?family=Michroma|Coda+Caption:800|Krona+One|Aclonica|Amaranth:400,700italic|Orbitron:700,400);

html{
	height:100%;
	width:100%;
}


body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	/*background-color: black;*/
	background-image: url('../images/concert2.png');
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	height:100%;
	background-attachment: fixed;
	margin:0;
	/*-ms-filter: contrast(50%);
	-webkit-filter:contrast(50%);
	-moz-filter:contrast(50%);*/

}

label{
	color:white;
}

button{
	background:white;
}

a{
	text-decoration: none;
}

p{
	color:white;
}

#seach{
	background:#1187ff;
	position:relative;
	margin-bottom:3px;	
	height:30px;
	width: 1024px;
	margin:auto;
	border-radius: 20px;
}

#searchdiv{
	width:980px;
	margin:auto;
	border-radius: 20px; 
}

#insidesearch{
	width:760px;
	margin:auto;
}

#searchbox{
	width:290px;
	display:inline-block;
	margin:auto;
}

#number{
 	color:white;
 	margin-right:105px;
 	position:relative; 
 	font-size: 1.5em;
}

#searchlabel{
	/*margin-left: 70px;*/
	font-size: 1.2em;
}

#searchin{
	width: 180px;
	border-radius: 5px;
	border:none;
	height:17px;
}
#searchgo{
	background:white;
}


#searchgo{
	border-radius: 10px;
	position:relative;
	border: none;
	color:#1187ff;
	font-weight:200;
}

#header{
margin:auto;
width:1024px;
}

#logo{

	display:inline-block;
	position: relative;

}

#logol{
	width:400px;
	height:205px;
}


#menudiv{
	/*border-bottom: solid 1px white;*/
	width: 600px;

	background: transparent;
	/*background-color: #fffee6;*/
	padding: 0;
	/*border-top-left-radius:50px;
	border-top-right-radius:10px;
	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 10px;*/
	display:inline-block;
	position: relative;
 	bottom:15px;
 	left:10px;
	}

nav{
		width:600px;
	}

#menu li{
	display: inline-block;
*display: inline;
	zzoom: 1;
	/*margin-top: 10px;*/
	margin-right: 15px;
	/*border:solid 1px white;*/
	width:101px;
	text-align: center;
	/*border-right: solid 1px black;	*/
}

#menu li:last-of-type {
	border-right: none;
}

#menu{
	padding:0;
	margin:0;
}

#menu li a{
	color:#daff98;
	text-decoration: none;/*
	font-family: "Exo" ,sans-serif;*/
	/*font-family: 'Michroma', sans-serif;*/
	font-family: 'Orbitron', sans-serif;
	font-weight: 700;
	font-style: italic;
	font-size: 1.5em;
	/*font-size: 2.1em;*/
	text-shadow:  0 0 1px #white,0 0 5px #f2ffbb,0 0 10px #f2ffbb, 0 0 20px #eeff9b, 0 0 40px #d8ff04, 0 0 60px #d8ff04, 0 0  80px #d8ff04, 0 0 100px #d8ff04;
	/*text-shadow:0 0 2px yellow;*/
	line-height: 33px;
}

#menu li a:hover{
	color:#f29dff;
	text-shadow:  0 0 1px white,0 0 5px #f3afff, 0 0 10px #f3afff, 0 0 20px #ff53ca, 0 0 40px #ff53ca, 0 0 80px #ff53ca, 0 0 100px #ff53ca;	
}


#container{
	width:980px;
	height:100%;
	margin:auto;
	
}

#content{

	width:960px;

	margin:auto;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	background-color: #1187ff;
	border-bottom-right-radius:25px;
	border-bottom-left-radius: 25px;  
}



#Products{
	margin:15px 0 0 32px ;
	padding:30px 20px;
}

.product{
	position:relative;
	display:inline-block;
	margin-right: 20px;
}

.images{
	height: 150px;
	width: 150px;
	border-radius: 15px;
}

.product p {
	color: white;
}